// Общий мобильный Адаптив //
@media (max-width: $widthMobile) {
    
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    // HOME PAGE //

    .header {
        &__top{
            border-bottom: 0;
            padding-top: 50px;
        }

        &__logo-img {
            width: 99px;
        }

        &__search-input {
            display: none;
        }

        &__nav {
            display: none;
        }

        &__navM {
            display: flex;
        }

        &__main {
            margin-top: 45px;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                font-size: 48px;
                line-height: 59px;
                text-align:center;
            }

            &-slogan {
                font-size: 16px;
                line-height: 32px;
            }
        }

        &__main-catalog {
            margin-top: 100px;
        }

        &__move-link {
            font-size: 14px;
            line-height: 24px;
        }

    }

    .main__title {
        font-size: 24px;
        line-height: 29px;
    }

    .for {
        margin-top: 32px;

        &__content {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }

        &__item {
            grid-column: span 4;
            height: 375px;
            font-size: 28px;
            line-height: 34px;

            &-big {
                height: 245px;
            }
        }
    }

    .special {
        margin-top: 48px;
        margin-bottom: 36px;

        &__content {            
            row-gap: 36px;
            justify-content: center;
        }

        &__goods{

            &-name {
                font-size: 18px;
                line-height: 22px;
            }

            &-disc {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 8px;
            }

            &-price {

                &-discount {
                    font-size: 18px;
                    line-height: 22px;
                }

                &-full {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    .catalog {

        &__content {           
            row-gap: 36px;
            justify-content: center;
        }

        &__goods{

            &-name {
                font-size: 18px;
                line-height: 22px;  
            }

            &-disc {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 8px;
            }

            &-cost {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__move {
            margin-top: 36px;
            margin-bottom: 32px;
        }
    }

    .footer {
        justify-content: center;
        row-gap: 36px;
        column-gap: 80px;
        padding-bottom: 32px;

        &__content {
            column-gap: 100px;
        }

        &__input-email {
            width: 268px;
            height: 46px;
        }

        &__input-btn {
            width: 268px;
            height: 46px;
        }
    }

    //CATALOG PAGE //

    .catalog {

        &__top {
            margin-top: 32px;
            margin-bottom: 32px;
            row-gap: 16px;
        }

        &__nav {

            &-link {
                font-size: 14px;
                line-height: 32px;
            }
        }

        &__filter {

            &-select {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    // CART PAGE //

    .header__cart-heading {
        margin-top: 100px;        
    }

    .header__title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .cart {
        margin-top: 92px;
        gap: 0;
        row-gap: 48px;

        &__name {
            display: none;
        }

        &__item {
            padding-top: 18px;
            padding-bottom: 24px;
        }

        &__prev {
            display: none;
        }

        &__info {
            width: 230px;
            gap: 0;

            &-title {
                font-size: 18px;
                line-height: 22px;
            }

            &-text {
                padding-top: 8px;
                font-size: 12px;
                line-height: 15px;
            }

            &-price {
                padding-top: 15px;
                font-size: 12px;
                line-height: 15px;
            }

            &-link {
                padding-top: 15px;
                font-size: 14px;
                line-height: 210%;
            }
        }

        &__buttons {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
        }

        &__button {
            width: 166px;
            height: 37px;
            font-size: 12px;
            line-height: 15px;
        }

        &__form {
            grid-column: span 12;

            &-total {
                margin-top: 68px;
            }
        }
    }
    .catalog__move-mobile {
        margin-top: 32px;
        margin-bottom: 64px;
    }
    .special__move-mobile {
        margin-top: 32px;
        margin-bottom: 64px;
    }
}
// Карточки товаров, форма и кнопки на странице корзины //
@media (min-width: 650px) and (max-width: 767px){

    .cart__form{
        grid-column: span 6;
    }

    .catalog__content {
        justify-content: flex-start;
    }

    .special__content {
        justify-content: flex-start;
    }

    .special__goods {
        width: 45vw;
    }

    .catalog__goods {
        width: 45vw;
    }

    .cart__buttons {
        justify-content: flex-start;
        gap: 15px;
    }
}
// Карточки товаров, форма и кнопки на странице корзины //
@media (min-width: 550px) and (max-width: 649px) {
    .cart__form {
        grid-column: span 7;
    }

    .catalog__content {
        justify-content: center;
    }

    .special__content {
        justify-content: center;
    }

    .special__goods {
        width: 91.5vw;
    }

    .catalog__goods {
        width: 91.5vw;
    }

    .cart__buttons {
        justify-content: flex-start;
        gap: 15px;
    }
}
// Карточки товаров, форма и кнопки на странице корзины //
@media (max-width: 549px) {
    .cart__form {
        grid-column: span 12;
    }

    .catalog__content {
        justify-content: center;
    }

    .special__content {
        justify-content: center;
    }

    .special__goods {
        width: 91.5vw;
    }

    .catalog__goods {
        width: 91.5vw;
    }

    .cart__buttons {
        justify-content: space-between;
    }
}
// Форма, карточки товаров, футер для самый маленьких устройств //
@media (max-width: 339px) {
    .header {
        &__main {
            &-title {
                font-size: 42px;
            }
        }
    }

    .footer {
        &__content {
            column-gap: 80px;
        }
    }

    .cart {

        &__button {
            width: 140px;
            height: 31px;
            font-size: 11px;
        }

        &__form {

            &-title {
                font-size: 22px;
            }

            &-name {
                width: 250px;
            }

            &-tel {
                width: 250px;
            }

            &-address {
                width: 250px;
            }

            &-checkout {
                width: 250px;
                height: 35px;
            }
        }
    }
}
