// Общий адаптив для планшета //
@media (max-width: $widthTabletL) {
    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .for {
        &__content {
            gap: 30px;
        }

        &__item {
            height: 268px;
            padding-top: 0;
            align-items: center;
            background-size: cover;

        }
    }

    .special {
        &__content {
            column-gap: 29px;
            row-gap: 39px;
        }
    }

    .catalog {
        &__content {
            column-gap: 29px;
            row-gap: 39px;
        }
    }

    .footer {
        &__logo {
            display: none;
        }
    }

    .cart {
        &__content{
            grid-column: span 12;
        }

        &__form {
            grid-column: span 6;
        }
    
    }

}
// промежуточный поинт //
@media (min-width: $widthTabletM) and (max-width: 834px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .special {
        &__goods {
            width: 44vw;
        }
    }

    .catalog {
        &__goods {
            width: 44vw;
        }
    }
}
