@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/*  RESET */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Переменные и МИКСИНЫ */
/*TEST MIXIN для форм */
@keyframes animButton {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateY(-2px);
  }
  20%, 40%, 60% {
    transform: translateY(2px);
  }
  80% {
    transform: translateY(1.5px);
  }
  90% {
    transform: translateY(-1.5px);
  }
}
/*  MAIN THEME */
a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #000;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

/* HEADER */
.header {
  height: 735px;
  background-image: url(../img/header_home_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__catalog {
  height: 400px;
  background-image: url(../img/header_catalog_back.png);
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.search-input {
  width: 278px;
  height: 41px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  padding: 10.5px 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.search-input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.search-input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: color 0.3s linear;
  position: relative;
}
.header__nav-link::after {
  display: block;
  content: "";
  background-color: #000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.header__nav-link:hover {
  color: #000;
}
.header__nav-link:hover::after {
  width: 100%;
}

.header__nav-link-notHome::after {
  display: block;
  content: "";
  background-color: #888;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.header__nav-link-notHome:hover {
  color: #888;
}
.header__nav-link-notHome:hover::after {
  width: 100%;
}

.header__navM {
  display: none;
}

.header__navM-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.header__main {
  margin-top: 64px;
}

.header__main-catalog {
  margin-top: 127px;
}

.header__main-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
}

.header__main-slogan {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}

.header__move-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  position: relative;
  transition: color 0.3s linear;
}
.header__move-link::after {
  display: block;
  content: "";
  background-color: #000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.header__move-link:hover {
  color: #000;
}
.header__move-link:hover::after {
  width: 100%;
}

/* MAIN */
/* FOR*/
.for {
  margin-top: 64px;
}

.for__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 32px;
}

.for__item {
  display: flex;
  justify-content: center;
  padding-top: 166px;
  height: 415px;
  grid-column: span 4;
  background-size: cover;
  background-position: center;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #fff;
  transition: transform 0.1s ease-in-out;
}
.for__item:hover {
  transform: scale(1.01);
}

.for__item-big {
  grid-column: span 6;
}

.for__item-1 {
  background-image: url(../img/for/for-1.jpg);
}

.for__item-2 {
  background-image: url(../img/for/for-2.jpg);
}

.for__item-3 {
  background-image: url(../img/for/for-3.jpg);
}

.for__item-4 {
  background-image: url(../img/for/for-4.jpg);
}

.for__item-5 {
  background-image: url(../img/for/for-5.jpg);
}

/*  SPECIAL */
.special {
  margin-bottom: 73px;
  margin-top: 64px;
}

.special__title {
  margin-bottom: 32px;
}

.main__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}

.special__content {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.special__goods {
  width: 378px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.special__goods:hover {
  border-style: none;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.2);
  border-radius: 0px 0px 10px 10px;
  transform: scale(1.02);
}

.special__goods-prev {
  margin-bottom: 10px;
  width: 100%;
}

.special__goods-name {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.special__goods-disc {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888;
}

.special__goods-price {
  display: flex;
  gap: 32px;
}

.special__goods-price-discount {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.special__goods-price-full {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888;
}

/* CATALOG PAGE */
.catalog__title {
  margin-bottom: 32px;
}

.catalog__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  row-gap: 56px;
}

.catalog__goods {
  width: 378px;
  padding: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.catalog__goods:hover {
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.2);
  border-radius: 0px 0px 10px 10px;
  transform: scale(1.02);
}

.catalog__goods-prev {
  width: 100%;
  margin-bottom: 10px;
}

.add__reaction {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 21px;
}

.catalog__goods-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.catalog__goods-disc {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888;
}

.catalog__goods-cost {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.catalog__move {
  margin-top: 39px;
  margin-bottom: 64px;
}

.catalog__move-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.catalog__move-link::after {
  display: block;
  content: "";
  background-color: #888;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.catalog__move-link:hover {
  color: #888;
}
.catalog__move-link:hover::after {
  width: 100%;
}

/* CATALOG CONTENT */
.catalog__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 41px;
}

.catalog__nav-list {
  display: flex;
}

.catalog__nav-item {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

.catalog__nav-item:not(:last-child)::after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
}

.catalog__nav-link {
  color: #000;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.catalog__nav-link::after {
  display: block;
  content: "";
  background-color: #888;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.catalog__nav-link:hover {
  color: #888;
}
.catalog__nav-link:hover::after {
  width: 100%;
}

.catalog__filter-select {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 14px;
  color: #000;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 40px;
  background-color: #F7F6F6;
}

.footer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 129px;
       column-gap: 129px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.footer__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.footer__menu-link::after {
  display: block;
  content: "";
  background-color: #000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.footer__menu-link:hover {
  color: #000;
}
.footer__menu-link:hover::after {
  width: 100%;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.footer__contacts-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.footer__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.footer__contacts-link::after {
  display: block;
  content: "";
  background-color: #000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.footer__contacts-link:hover {
  color: #000;
}
.footer__contacts-link:hover::after {
  width: 100%;
}

.footer__contacts-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}

.subscribe {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.footer__input-email {
  margin-bottom: 12px;
  width: 275px;
  height: 46px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  outline: none;
  padding: 12px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}

.footer__input-email::-moz-placeholder {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer__input-email::placeholder {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.footer__input-btn {
  display: block;
  height: 46px;
  width: 275px;
  box-sizing: border-box;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #fff;
  border-radius: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  transition: all 0.3s linear;
}
.footer__input-btn:hover {
  background-color: #000;
  color: #fff;
}

/* HEADER CART */
.header__cart {
  height: 400px;
  background-image: url(../img/header_cart_back.jpg);
}

.header__cart-heading {
  margin-top: 127px;
}

.header__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
}

/* MAIN CART */
.cart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  /* FORMS */
}
.cart__content {
  grid-column: span 8;
}
.cart__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding-right: 25px;
}
.cart__name-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.cart__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 0.5px solid #CACDD8;
  padding-top: 32px;
  padding-bottom: 32px;
}
.cart__left {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.cart__info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 16px;
  width: 276px;
}
.cart__info-links {
  display: flex;
  gap: 30px;
}
.cart__info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.cart__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888;
}
.cart__info-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.cart__info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  color: #000;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.cart__info-link::after {
  display: block;
  content: "";
  background-color: #888;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.cart__info-link:hover {
  color: #888;
}
.cart__info-link:hover::after {
  width: 100%;
}
.cart__button {
  width: 200px;
  height: 37px;
  border: 1px solid #000000;
  border-radius: 50px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #020202;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.cart__button:hover {
  background-color: #000;
  color: #fff;
}
.cart__input {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  text-align: center;
  border: 0px solid #F7F6F6;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
}
.cart__form {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 556px;
  background: #F7F6F6;
  border-radius: 20px;
}
.cart__form-title {
  padding-top: 42px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}
.cart__form-name {
  width: 288px;
  margin-top: 35px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  /* TEST MIXIN с вложениями и псевдоклассами */
}
.cart__form-name:focus::-moz-placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-name:focus::placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-name::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-name::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-tel {
  width: 288px;
  margin-top: 35px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  /* TEST MIXIN с вложениями и псевдоклассами */
  margin-top: 44px;
}
.cart__form-tel:focus::-moz-placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-tel:focus::placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-tel::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-tel::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-address {
  width: 288px;
  margin-top: 35px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  /* TEST MIXIN с вложениями и псевдоклассами */
  margin-top: 44px;
}
.cart__form-address:focus::-moz-placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-address:focus::placeholder {
  color: transparent; /*TEST Скрыть placeholder при фокусе*/
}
.cart__form-address::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-address::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__form-total {
  margin-top: 64px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
.cart__form-checkout {
  margin-top: 18px;
  margin-bottom: 148px;
  width: 290px;
  height: 41px;
  border: 1px solid #040404;
  border-radius: 20px;
  background-color: transparent;
  animation: animButton 2s ease-in-out 0s 2 normal forwards;
}
.cart__form-checkout:hover {
  background-color: #000;
  color: #fff;
}

.special .special__move {
  margin-top: 39px;
  margin-bottom: 64px;
}
.special .special__move-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.special .special__move-link::after {
  display: block;
  content: "";
  background-color: #888;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.special .special__move-link:hover {
  color: #888;
}
.special .special__move-link:hover::after {
  width: 100%;
}

/* SPECIAL FOR__TEST позиционирования для иконок поверх IMG */
.special__goods {
  position: relative;
}

.add__reaction {
  display: flex;
  gap: 21px;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .center {
    padding-left: 50px;
    padding-right: 50px;
  }
  .special__content {
    justify-content: space-between;
  }
  .special__goods {
    width: 43.5vw;
  }
  .catalog__content {
    justify-content: space-between;
  }
  .catalog__goods {
    width: 43.5vw;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__content {
    gap: 30px;
  }
  .for__item {
    height: 268px;
    padding-top: 0;
    align-items: center;
    background-size: cover;
  }
  .special__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .catalog__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .cart__content {
    grid-column: span 12;
  }
  .cart__form {
    grid-column: span 6;
  }
}
@media (min-width: 768px) and (max-width: 834px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .special__goods {
    width: 44vw;
  }
  .catalog__goods {
    width: 44vw;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__top {
    border-bottom: 0;
    padding-top: 50px;
  }
  .header__logo-img {
    width: 99px;
  }
  .header__search-input {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__navM {
    display: flex;
  }
  .header__main {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__main-title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .header__main-slogan {
    font-size: 16px;
    line-height: 32px;
  }
  .header__main-catalog {
    margin-top: 100px;
  }
  .header__move-link {
    font-size: 14px;
    line-height: 24px;
  }
  .main__title {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    margin-top: 32px;
  }
  .for__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: span 4;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item-big {
    height: 245px;
  }
  .special {
    margin-top: 48px;
    margin-bottom: 36px;
  }
  .special__content {
    row-gap: 36px;
    justify-content: center;
  }
  .special__goods-name {
    font-size: 18px;
    line-height: 22px;
  }
  .special__goods-disc {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  .special__goods-price-discount {
    font-size: 18px;
    line-height: 22px;
  }
  .special__goods-price-full {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__content {
    row-gap: 36px;
    justify-content: center;
  }
  .catalog__goods-name {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__goods-disc {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  .catalog__goods-cost {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__move {
    margin-top: 36px;
    margin-bottom: 32px;
  }
  .footer {
    justify-content: center;
    row-gap: 36px;
    -moz-column-gap: 80px;
         column-gap: 80px;
    padding-bottom: 32px;
  }
  .footer__content {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .footer__input-email {
    width: 268px;
    height: 46px;
  }
  .footer__input-btn {
    width: 268px;
    height: 46px;
  }
  .catalog__top {
    margin-top: 32px;
    margin-bottom: 32px;
    row-gap: 16px;
  }
  .catalog__nav-link {
    font-size: 14px;
    line-height: 32px;
  }
  .catalog__filter-select {
    font-size: 14px;
    line-height: 17px;
  }
  .header__cart-heading {
    margin-top: 100px;
  }
  .header__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .cart {
    margin-top: 92px;
    gap: 0;
    row-gap: 48px;
  }
  .cart__name {
    display: none;
  }
  .cart__item {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .cart__prev {
    display: none;
  }
  .cart__info {
    width: 230px;
    gap: 0;
  }
  .cart__info-title {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__info-text {
    padding-top: 8px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__info-price {
    padding-top: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__info-link {
    padding-top: 15px;
    font-size: 14px;
    line-height: 210%;
  }
  .cart__buttons {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
  .cart__button {
    width: 166px;
    height: 37px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__form {
    grid-column: span 12;
  }
  .cart__form-total {
    margin-top: 68px;
  }
  .catalog__move-mobile {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .special__move-mobile {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  .cart__form {
    grid-column: span 6;
  }
  .catalog__content {
    justify-content: flex-start;
  }
  .special__content {
    justify-content: flex-start;
  }
  .special__goods {
    width: 45vw;
  }
  .catalog__goods {
    width: 45vw;
  }
  .cart__buttons {
    justify-content: flex-start;
    gap: 15px;
  }
}
@media (min-width: 550px) and (max-width: 649px) {
  .cart__form {
    grid-column: span 7;
  }
  .catalog__content {
    justify-content: center;
  }
  .special__content {
    justify-content: center;
  }
  .special__goods {
    width: 91.5vw;
  }
  .catalog__goods {
    width: 91.5vw;
  }
  .cart__buttons {
    justify-content: flex-start;
    gap: 15px;
  }
}
@media (max-width: 549px) {
  .cart__form {
    grid-column: span 12;
  }
  .catalog__content {
    justify-content: center;
  }
  .special__content {
    justify-content: center;
  }
  .special__goods {
    width: 91.5vw;
  }
  .catalog__goods {
    width: 91.5vw;
  }
  .cart__buttons {
    justify-content: space-between;
  }
}
@media (max-width: 339px) {
  .header__main-title {
    font-size: 42px;
  }
  .footer__content {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .cart__button {
    width: 140px;
    height: 31px;
    font-size: 11px;
  }
  .cart__form-title {
    font-size: 22px;
  }
  .cart__form-name {
    width: 250px;
  }
  .cart__form-tel {
    width: 250px;
  }
  .cart__form-address {
    width: 250px;
  }
  .cart__form-checkout {
    width: 250px;
    height: 35px;
  }
}/*# sourceMappingURL=style.css.map */